* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
 background-color: #1451d4;
 font-family: Arial, Helvetica, sans-serif;
 color: white;
 min-height: 100vh;

}

header {
font-size: 1.5rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.3rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}

form button {
  color: orange;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: orange;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 20%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.completed-btn {
  background: rgba(1, 175, 10, 0.801);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.todo-item {
  padding: 0.4rem;
  background-color: white;
}

